html {
  font-family: "Times New Roman", Times, serif;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  width: 35px;
  height: 5px;
  background-color: rgb(129, 129, 129);
  margin: 6px 0;
}

.section1 {
  padding: 1rem;
  display: flex;
}

.soon {
  padding: 1rem;
  color: rgb(236, 27, 125);
  font: bold;
}

.button {
  padding: 1rem;
  background-color: transparent;
  padding: 1rem 2.8rem;
  border: 4px solid;
  border-radius: 50rem;
  border-color: rgba(212, 167, 44, 0.5);
}

.graphic {
  float: left;
  width: 100%;
}

.overlay {
  padding: 4rem 1rem 1rem 1rem;
  background-image: url(assets/assets/background.svg);
  background-size: cover;
}

.overlay h2 {
  font-size: 2rem;
}

.overlay p {
  font-size: 1.4rem;
}
