html {
  font-family: "Times New Roman", Times, serif;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  width: 35px;
  height: 5px;
  background-color: rgb(129, 129, 129);
  margin: 6px 0;
}

.section1 {
  padding: 1rem;
  display: flex;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.4rem;
    word-spacing: 0.2rem;
    letter-spacing: 00.08rem;
  }
}

.soon {
  color: rgb(236, 27, 125);
  font: bold;
}

.button {
  background-color: transparent;
  padding: 1rem 2.8rem;
  border: 5px solid;
  border-image-slice: 10;
  border-radius: 100%;
  border-image-source: url(assets/assets/background.svg);
}

.overlay {
  padding: 4rem 1rem 1rem 1rem;
  background-image: url(assets/assets/background.svg);
  background-size: cover;
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.6rem;
  }
}

.ad-section {
  h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  p {
    line-height: 2.5rem;
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.ad-logo {
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  img {
    width: 90%;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.card {
  display: flex;
  gap: 1rem;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100rem;
}

.card-header {
  display: flex;
  img {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}

.card-body {
  background-color: #eee;
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 5rem;
}
#card {
  padding: 1rem;
}

.section2 {
  padding: 1rem;
  display: flex;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.4rem;
    word-spacing: 0.2rem;
    letter-spacing: 00.08rem;
  }
}

footer {
    padding: 1rem;
    font-size: 1.3rem;
}
